<div class="content_body" id="content_body">
  <div class="wrapper_content_body">
<h1>New Subcategory</h1>
      <div class="content_box_border">
                        <div class="row mt-2">
<%= render 'form' %>
</div>
</div>
</div>
</div>