<div class="content_body" id="content_body">
  <div class="wrapper_content_body">
<h1>Edit Coupon</h1>
     <div class="content_box_border">
                        <div class="row mt-2">


<%= render 'form', coupon: @coupon %>

<%= link_to 'Show', @coupon %> |
<%= link_to 'Back', coupons_path %>
</div>
</div>
</div>
</div>