
        <div class="content_body" id="content_body">
            <div class="wrapper_content_body">
                <h4> New Coupens</h4>
                <div class="content_box_border">
                        <div class="row mt-2">
                        <%= render 'form', coupon: @coupon %> <br>
                        <br>
                        </div>
                        </div>
                           
                        <div class="itemselect_filter warning">
                                <%= link_to 'Back', coupons_path %>
                        </div>
                 </div>


            </div>
        </div>